{% extends 'base.html.twig' %}

{% block title %}home
{% endblock %}

{% block body %}

 {% include "_navbar.html.twig" %}

{# a propos #}
    <section class="profil">
        <div class ="card-profil">
            <div class="picture-profil">
                <img src= "">
                eeeeee
            </div>
            <div class="skill-profil">
                <h1>Compétence</h1>
                <p>pppppppppppppppppppppppppppp
                BASE DE DONNÉppppppppppppppppp
                ppppppppppppppppppppppppppppppppp
                ppppppppppppppppppppppppppppppppp
                </p>
            </div>
        </div> 
        <div class="about">
            <h1>à propos<h1>
            <h1>
        </div>
    </section>
{% endblock %}