
body {
    margin:0;
    padding:0;
    background-color: rgb(77, 77, 99);
}

// NAVBAR

.menu-container {
    background-color:rgba(0, 0, 0, 0.452);
        h1 {
            margin-left: 1rem;
            color:white;
        }
}

.desktop-menu {
    display: flex;
    justify-content: space-between;
        ul{
        display: flex;
        padding:0;
        justify-content: flex-end;
        width: fit-content;
        margin-right: 1rem;

        .nav-link  {
            list-style: none;
            margin-right: 2rem;
             a {
                 color:white;
                 text-decoration: none;
            }
        }
    }
}

// END NAVBAR

// PROFIL

.profil {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.452);

        p {
            color: white;
        }
}
.card-profil {
    display: flex;
}

.picture-profil {
    width: 50%;
}

.skill-profil {
    width: 50%;

    h1 {
        text-align: center;
        background-color: chocolate;
    }
}

.about {
    h1 {
        background-color: saddlebrown;
        text-align: center;
    }
}
// END PROFIL