html {
    overflow: scroll;
  background-image: url("https://cdn.pixabay.com/photo/2018/06/09/17/25/trees-3464777_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    margin:0;
    padding:0;
    height: 100vh;
}
// NAVBAR
.menu-container {
    background-color:rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
        h1 {
            margin-left: 1rem;
            color:white;
        }
}

.desktop-menu {
    display: flex;
    justify-content: space-between;
        ul{
        display: flex;
        padding:0;
        justify-content: flex-end;
        width: fit-content;
        margin-right: 1rem;

        .nav-link  {
            list-style: none;
            margin-right: 2rem;
             a {
                 color:white;
                 text-decoration: none;
                &:hover {
                    color:#a2902a;
                }
            }
        }
    }
}

// END NAVBAR

// PROFIL

.profil {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.770);
    border: 5px groove #543b34;

        p {
            color: white;
        }
}
.card-profil {
    display: flex;
}

.picture-profil {
    width: 40%;
        img {
            width: 14rem;
            margin-left: 4rem;
            margin-top: 1rem;
            border: 3px outset #543b34;
        }
}

.skill-profil {
    width: 60%;

    h1 {
        text-align: center;
        background-color: #a2902a;
    }
}

.about {
    h1 {
        background-color: #a2902a;
        text-align: center;
    }
}
// END PROFIL

// PROJECT

.bx-wrapper {
    border: 5px groove #543b34;
    background:rgba(0, 0, 0, 0.770);
    color:white;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 5px #a2902a;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: 39px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
  }
// END PROJECT