{% block navbar %}
    <nav class="menu-container">
        <div class="desktop-menu">
            <div class="name-portfolio">
                <h1>Sophie GAUBERT</h1>
            </div>
                <ul>
                    <li class="nav-link">
                        <a href="#">à Propos</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Mes projets</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Contact</a>
                    </li>
                </ul>
        </div>
    </nav>
{% endblock %}
